* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    background-color: #ffeee5;
    color: #615445;
    text-align: center;
    font-family: Lato, sans-serif;
}

h2 {
    font-weight: bold;
    display: block;
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Header */
#header {
    top: 0;
    background-color: #ffeee5;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0px 20px;
}

#header-img {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

header li {
    display: inline;
    padding: 0px 50px;
    font-size: 1.7rem;
}
  
nav {
    align-items: center;
}

header a {
    text-decoration: none;
    color: #736857;
}


/* Main */
#hero {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: block;
}

#email {
    margin: 10px auto;
    font-size: 1.5rem;
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    background-color: #228c59;
    color: #ffeee5;
    margin-bottom: 60px;
    border-color: #058f63;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
}

.descr p {
    margin-bottom: 40px;
}

#how-it-works {
    margin: 20px auto;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}
/*  */
#pricing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

#product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 290px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    flex: 1;
}

.title {
    display: block;
    background-color: #615445;
    color: #ffeee5;
    font-weight: 700;
    height: 50px;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
}

#product h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#product li {
    margin: 10px auto;
    display: block;
}

span {
    font-weight: bold;
}

#btn {
    max-width: 100px;
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    background-color: #228c59;
    color: #ffeee5;
    border-color: #058f63;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #615445;
    color: #ffeee5;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 40px;
}

footer ul {
    justify-content: flex-end;
    display: flex;
}

footer li {
    padding: 0 10px;
    margin-bottom: 10px;
}

footer  p {
    text-align: right;
    padding: 0 10px;
}

footer a {
    text-decoration: none;
    color: #ffeee5;
}


/* Responsivness */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header li {
        padding: 0px 30px;
    }


    #pricing {
        gap: 20px;
        margin: 0 auto;
        max-width: 80vw;
    }
    
    #product {
        margin: 10px;
        flex: 1 1 45%;
    }
}

@media screen and (max-width: 768px) {
    #header {
        height: 80px;
        padding: 3px 20px;
    }
    
    header li {
        display: block;
        padding: 1px 50px;
    }

    #hero {
        margin-top: 75px;
    }

    #pricing {
        display: grid;
        place-items: center;
        margin: auto;
    }
    
    #product {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    #header {
        height: 130px;
        display: flex;
        flex-direction: column;
    }

    #hero {
        margin-top: 130px;
    }
}